/* black and white classes */
body {
    background-color: #ccc;
}

.black {
    background-color: black;
    height: 60px;
    width: 60px;
}

.white {
    background-color: white;
    height: 60px;
    width: 60px;
}

.boardTable {
    width: 400px;
    border: 1px;
    border-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big-button {
    padding: 100px 200px;
    font-size: 100px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.big-button:hover {
    background-color: #2980b9;
}