/* black and white classes */
body {
    background-color: #ccc;
}

.black {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    background-color: #333;
}

.white {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border: 1px solid #000;
}

/* Button */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big-button {
    padding: 100px 200px;
    font-size: 100px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.big-button:hover {
    background-color: #2980b9;
}

/* Board */

.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chessboard {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.boardTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.boardTable td {
    border: 1px solid #ccc; /* Add borders to table cells */
    padding: 40px; /* Adjust cell padding as needed */
    text-align: center; /* Center content in cells */
}