body {
    background-color: #a0a0a0;
}

/* Button */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big-button,
.small-button {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.big-button:hover,
.small-button:hover {
    background-color: #555;
}

.big-button:active,
.small-button:active {
    transform: scale(0.95);
}

/* Board */

.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

body.fade-in {
    opacity: 1;
}