/* black and white classes */
body {
    background-color: #a0a0a0;
}

.black {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    background-color: #333;
}

.white {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border: 1px solid #000;
}

/* Button */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big-button {
    padding: 100px 200px;
    font-size: 100px;
    background-color: rgba(17, 17, 17, 0.9);
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 20px 20px 75px red;
}

.big-button:active {
    transform: translate(10px, 10px);
}

/* Board */

.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chessboard {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.boardTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.boardTable td {
    border: 1px solid #ccc;
    padding: 40px;
    text-align: center;
}

/* piece clicked */
.piece-clicked {
    border: 5px solid yellow;
}

.valid-move {
    background-color: yellow;
}